<!DOCTYPE html>
<html id="document" class="no-js document">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
    @*<link href='http://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'><!-- BODY FONT -->
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'><!-- HEADINGS FONT -->*@

    @Scripts.Render("~/bundles/modernizr")


    <script type="text/html" id="filtro">
        <div class="box left">
            <header>
                <span class="uk-badge uk-badge-notification uk-badge-success">1</span>
                <label data-bind="text: valor"></label>

                <div class="uikit-dropdown right" data-uk-dropdown="{mode:'click'}">
                    <a class="uk-button right" href="#"><i class="icon icon-trash"></i></a>
                    <a class="uk-button uikit-trigger right" href="#"><i class="icon icon-plus"></i></a>
                    <div class="uk-dropdown">
                        <ul class="menu">
                            <li class="item">
                                <a href="#" class="link" title="Dropdown Item 5">Dropdown Item 5</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <span class="divider"></span>
            </header>
            <div class="content">Left Floated Box</div>
        </div>
    </script>

    <script type="text/html" id="Caracteres">

        <div class="box left" data-bind="style:  { width: function(){ return $root.calcularTamanhoBox(); }() }">
            <header>
                <span class="uk-badge uk-badge-notification uk-badge-success" data-bind="text:valoresSelecionados().length, visible: valoresSelecionados().length > 0">1</span>
                <label data-bind="text: nome"></label>


                <a class="uk-button right" href="#"><i class="icon icon-trash"></i></a>
                <div class="uikit-component right ">
                    <div class="uikit-dropdown" data-uk-dropdown="{mode:'click'}">
                        <a class="uk-button uikit-trigger right" href="#"><i class="icon icon-plus"></i></a>
                        <div class="uk-dropdown">
                            <div class="box-slide">

                                <ul data-bind="foreach: valoresIniciais">
                                    <li>
                                        <input class="right" type="checkbox" data-bind="checked: selecionado" />
                                        <span class="link" data-bind="text:$data.valor"></span>
                                    </li>
                                </ul>
                                <a data-bind="click: $root.aplicarFiltro.bind($data,$parent)" class="button withAccent uk-width-large-1-1">APLICAR</a>
                            </div>
                        </div>

                    </div>
                </div>

                @* <div class="uikit-dropdown right" data-uk-dropdown="{mode:'click'}">
                        <a class="uk-button right" href="#"><i class="icon icon-trash"></i></a>
                        <a class="uk-button uikit-trigger right" href="#"><i class="icon icon-plus"></i></a>
                        <div class="uk-dropdown">
                            <ul class="menu" data-bind="foreach: valoresIniciais">
                                <li class="item">
                                    <input type="checkbox" data-bind="checked: selecionado" />
                                    <span class="link" data-bind="text:$data.valor"></span>
                                </li>
                            </ul>
                            <a class="button withAccent">Aplicar</a>
                        </div>
                    </div>*@

                <span class="divider"></span>
            </header>
            <div class="content" data-bind="foreach: valoresSelecionados">

                <span class="uk-badge uk-badge-notification uk-badge-success" data-bind="text:$data"></span>
            </div>
        </div>
    </script>

    <script type="text/html" id="Periodo">
        <div class="box left" data-bind="style:  { width: function(){ return $root.calcularTamanhoBox(); }() }">
            <header>
                <span class="uk-badge uk-badge-notification uk-badge-success"></span>

                <div class="uikit-dropdown right" data-uk-dropdown="{mode:'click'}">
                    <a class="uk-button right" href="#"><i class="icon icon-trash"></i></a>
                    <a class="uk-button uikit-trigger right" href="#"><i class="icon icon-plus"></i></a>
                    <div class="uk-dropdown">
                        <ul class="menu">
                            <li class="item">
                                <a href="#" class="link" title="Dropdown Item 1">Dropdown Item 1</a>
                            </li>
                            <li class="item">
                                <a href="#" class="link" title="Dropdown Item 2">Dropdown Item 2</a>
                            </li>
                            <li class="item">
                                <a href="#" class="link" title="Dropdown Item 3">Dropdown Item 3</a>
                            </li>
                            <li class="item">
                                <a href="#" class="link" title="Dropdown Item 4">Dropdown Item 4</a>
                            </li>
                            <li class="item">
                                <a href="#" class="link" title="Dropdown Item 5">Dropdown Item 5</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <span class="divider"></span>
            </header>
            <div class="content">Left Floated Box</div>
        </div>
    </script>
</head>
<body id="gnio-framework" class="gnio-framework no-text-shadow">
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <div id="framework" class="framework">

        @Html.Partial("_Sidebar")
        @Html.Partial("_Header")

        <section id="main-section" class="section">
            <ul class="menu breadcrumb">
                <li class="item">
                    <a href="#" class="link" title="Go to Item 1"><i class="icon icon-home"></i> Inicio <i class="icon icon-angle-right"></i></a>
                </li>
                <li class="item">
                    <a href="#" class="link" title="Go to Item 2">Movimentacoes <i class="icon icon-angle-right"></i></a>
                </li>
                <li class="item active">
                    <span>Contas a receber </span>
                </li>
            </ul>

            <div class="uikit-component">
                <div class="uk-button-group with-four-elements">
                    <a class="uk-button" href="#"><i class="icon icon-home"></i> CADASTROS</a>
                    <span class="divider"></span>
                    <a class="uk-button" href="#"><i class="icon icon-home"></i> MOVIMENTACOES</a>
                    <span class="divider"></span>
                    <a class="uk-button" href="#"><i class="icon icon-home"></i> RELATORIOS</a>
                    <span class="divider"></span>
                    <a class="uk-button" href="#"><i class="icon icon-home"></i> CONFIGURACOES</a>

                </div>
            </div>

            @RenderBody()
        </section>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/plugins")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>
