<!DOCTYPE html>
<html id="document" class="no-js document">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
    <link href='http://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'><!-- BODY FONT -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'><!-- HEADINGS FONT -->

    @Scripts.Render("~/bundles/modernizr")
</head>
<body id="gnio-framework" class="gnio-framework no-text-shadow">
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <div id="framework" class="framework">

        @Html.Partial("_Sidebar")
        @Html.Partial("_Header")

        <section id="main-section" class="section">
            <ul class="menu breadcrumb">
                <li class="item">
                    <a href="#" class="link" title="Go to Item 1"><i class="icon icon-home"></i> Inicio <i class="icon icon-angle-right"></i></a>
                </li>
                <li class="item">
                    <a href="#" class="link" title="Go to Item 2">Movimentacoes <i class="icon icon-angle-right"></i></a>
                </li>
                <li class="item active">
                    <span>Contas a receber </span>
                </li>
            </ul>

            <div class="uikit-component">
                <div class="uk-button-group with-four-elements">
                    <a class="uk-button" href="#"><i class="icon icon-home"></i> CADASTROS</a>
                    <span class="divider"></span>
                    <a class="uk-button" href="#"><i class="icon icon-home"></i> MOVIMENTACOES</a>
                    <span class="divider"></span>
                    <a class="uk-button" href="#"><i class="icon icon-home"></i> RELATORIOS</a>
                    <span class="divider"></span>
                    <a class="uk-button" href="#"><i class="icon icon-home"></i> CONFIGURACOES</a>

                </div>
            </div>

            @RenderBody()
        </section>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/plugins")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>
